<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<table>
    <tr>
        <td><h4>ID: </h4></td>
        <td><h4 th:text="${clientResponse.id}"></h4></td>
    </tr>

    <tr>
        <td><h4>First Name: </h4></td>
        <td><h4 th:text="${clientResponse.firstName}"></h4></td>
    </tr>

    <tr>
        <td><h4>Last Name: </h4></td>
        <td><h4 th:text="${clientResponse.lastName}"></h4></td>
    </tr>

    <tr>
        <td><h4>Date of birth: </h4></td>
        <td><h4 th:text="${clientResponse.dateOfBirth}"></h4></td>
    </tr>

    <tr>
        <td><h4>Passport Nr: </h4></td>
        <td><h4 th:text="${clientResponse.passportNumber}"></h4></td>
    </tr>

    <tr>
        <td><h4>Personal Nr: </h4></td>
        <td><h4 th:text="${clientResponse.personalNumber}"></h4></td>
    </tr>

    <tr>
        <td><h4>Phone Nr: </h4></td>
        <td><h4 th:text="${clientResponse.phoneNumber}"></h4></td>
    </tr>

    <tr>
        <td><h4>Occupation: </h4></td>
        <td><h4 th:text="${clientResponse.occupation}"></h4></td>
    </tr>

    <tr>
        <td><h4>Expenses: </h4></td>
        <td><h4 th:text="${clientResponse.expenses}"></h4></td>
    </tr>

    <tr>
        <td><h4>Date Created: </h4></td>
        <td><h4 th:text="${clientResponse.created}"></h4></td>
    </tr>


</table>
</html>  