<!DOCTYPE html>
<html , lang="en" xmlns:th="https://thymeleaf.org">
<head>
    <title>Get Client</title>
</head>
<body>
<form>
    <table>
        <caption><h1> Client key value pairs</h1></caption>
        <tr>
            <th scope="col">key</th>
            <th scope="col">value</th>
        </tr>
        <tr>
            <td>ID:</td>
            <td th:text="${clientResponse.id}"></td>
        </tr>
        <tr>
            <td>First Name:</td>
            <td th:text="${clientResponse.firstName}"></td>
        </tr>
        <tr>
            <td>Last Name:</td>
            <td th:text="${clientResponse.lastName}"></td>
        </tr>
        <tr>
            <td>Date of birth:</td>
            <td th:text="${clientResponse.dateOfBirth}"></td>
        </tr>
        <tr>
            <td>Passport Nr:</td>
            <td th:text="${clientResponse.passportNumber}"></td>
        </tr>
        <tr>
            <td>Personal Nr:</td>
            <td th:text="${clientResponse.personalNumber}"></td>
        </tr>
        <tr>
            <td>Phone Nr:</td>
            <td th:text="${clientResponse.phoneNumber}"></td>
        </tr>
        <tr>
            <td>Occupation:</td>
            <td th:text="${clientResponse.occupation}"></td>
        </tr>
        <tr>
            <td>Expenses:</td>
            <td th:text="${clientResponse.expenses}"></td>
        </tr>
        <tr>
            <td>Date Created:</td>
            <td th:text="${clientResponse.created}"></td>
        </tr>

    </table>
</form>
</body>
</html>  